.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
/* */
.btn-wrapper button{
   background-color: red;
   border: 0px;
   padding: 10px;
   border-radius: 4px;
   color: #fff;
   box-shadow: #000 0px 1px 5px;
}

.img-wrapper img{
  width: 100px;
  margin-top: -10px
}
.cart-wrapper{
  height: 120px;
  width: 500px;
  border: 1px solid #ccc;
  margin-left: 10%;
}

.item{
  float: left;
  width: 120px;
  padding: 20px;
  height: 70px;
}

.add-to-cart{
  width: 50px;
  position: absolute;
  right: 2%;
  top: 7%;
}

.card-count{
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  background-color: red;
  padding: 7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff
}
/* */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
